<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videet: A new way to take meetings.</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel = "icon" href = "/public/img/logo.png" type = "image/x-icon">
</head>

<body>
    <nav id="navbar">
        <a href="/">
                <div id="logo">   
                <img src="/public/img/logo.png" alt="" >
                <div id="logotxt">Videet</div>
            </div>
        </a>
    </nav>
    <div class="container">
        <div id="left">
            <div class="text">Secure Video Meetings.</div>
            <div class="text">Keeping you securely connected wherever you are.</div>
            <p>Login or Register with:</p>
            <a id="btn" href="/google"><div>Google</div></a>
        </div>
        <div id="right">
            <img src="/public/img/pic.png" alt="">
        </div>
    </div>
</body>

</html>